# Ex - GroupBy

In [1]:
from pyspark.sql.functions import *
from pyspark.sql import *
from pyspark.sql.functions import *
import pandas as pd
from pyspark.sql.types import *

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

In [2]:
spark = SparkSession.builder.appName("ChipotleData").getOrCreate()

In [3]:
drinks_pd = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')
drinks_df = spark.createDataFrame(drinks_pd)

### Step 3. Assign it to a variable called drinks.

In [4]:
drinks = drinks_df
drinks.show()

+-----------------+-------------+---------------+-------------+----------------------------+---------+
|          country|beer_servings|spirit_servings|wine_servings|total_litres_of_pure_alcohol|continent|
+-----------------+-------------+---------------+-------------+----------------------------+---------+
|      Afghanistan|            0|              0|            0|                         0.0|       AS|
|          Albania|           89|            132|           54|                         4.9|       EU|
|          Algeria|           25|              0|           14|                         0.7|       AF|
|          Andorra|          245|            138|          312|                        12.4|       EU|
|           Angola|          217|             57|           45|                         5.9|       AF|
|Antigua & Barbuda|          102|            128|           45|                         4.9|      NaN|
|        Argentina|          193|             25|          221|                         8.3|       SA|
|          Armenia|           21|            179|           11|                         3.8|       EU|
|        Australia|          261|             72|          212|                        10.4|       OC|
|          Austria|          279|             75|          191|                         9.7|       EU|
|       Azerbaijan|           21|             46|            5|                         1.3|       EU|
|          Bahamas|          122|            176|           51|                         6.3|      NaN|
|          Bahrain|           42|             63|            7|                         2.0|       AS|
|       Bangladesh|            0|              0|            0|                         0.0|       AS|
|         Barbados|          143|            173|           36|                         6.3|      NaN|
|          Belarus|          142|            373|           42|                        14.4|       EU|
|          Belgium|          295|             84|          212|                        10.5|       EU|
|           Belize|          263|            114|            8|                         6.8|      NaN|
|            Benin|           34|              4|           13|                         1.1|       AF|
|           Bhutan|           23|              0|            0|                         0.4|       AS|
+-----------------+-------------+---------------+-------------+----------------------------+---------+
only showing top 20 rows

### Step 4. Which continent drinks more beer on average?

In [5]:
from pyspark.sql import functions as F

drinks.groupBy("continent") \
      .agg(F.avg("beer_servings").alias("avg_beer")) \
      .orderBy(F.desc("avg_beer")) \
      .show(1)

+---------+------------------+
|continent|          avg_beer|
+---------+------------------+
|       EU|193.77777777777777|
+---------+------------------+
only showing top 1 row

### Step 5. For each continent print the statistics for wine consumption.

In [7]:
drinks.groupBy('continent').agg(sum('wine_servings'),avg('wine_servings'),max('wine_servings'),min('wine_servings')).show()

+---------+------------------+------------------+------------------+------------------+
|continent|sum(wine_servings)|avg(wine_servings)|max(wine_servings)|min(wine_servings)|
+---------+------------------+------------------+------------------+------------------+
|       SA|               749|62.416666666666664|               221|                 1|
|      NaN|               564| 24.52173913043478|               100|                 1|
|       AS|               399| 9.068181818181818|               123|                 0|
|       OC|               570|            35.625|               212|                 0|
|       EU|              6400|142.22222222222223|               370|                 0|
|       AF|               862|16.264150943396228|               233|                 0|
+---------+------------------+------------------+------------------+------------------+

### Step 6. Print the mean alcohol consumption per continent for every column

In [10]:
drinks.groupBy('continent').agg(avg('total_litres_of_pure_alcohol')).show()

+---------+---------------------------------+
|continent|avg(total_litres_of_pure_alcohol)|
+---------+---------------------------------+
|       SA|                6.308333333333334|
|      NaN|                5.995652173913045|
|       AS|               2.1704545454545454|
|       OC|               3.3812499999999996|
|       EU|                8.617777777777778|
|       AF|               3.0075471698113208|
+---------+---------------------------------+

### Step 7. Print the median alcohol consumption per continent for every column

In [11]:
drinks.groupBy('continent').agg(median('total_litres_of_pure_alcohol')).show()

+---------+------------------------------------+
|continent|median(total_litres_of_pure_alcohol)|
+---------+------------------------------------+
|       SA|                                6.85|
|      NaN|                                 6.3|
|       AS|                                 1.2|
|       OC|                                1.75|
|       EU|                                10.0|
|       AF|                                 2.3|
+---------+------------------------------------+

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [12]:
drinks.groupBy('continent').agg(avg('spirit_servings'),max('spirit_servings'),min('spirit_servings')).show()

+---------+--------------------+--------------------+--------------------+
|continent|avg(spirit_servings)|max(spirit_servings)|min(spirit_servings)|
+---------+--------------------+--------------------+--------------------+
|       SA|              114.75|                 302|                  25|
|      NaN|   165.7391304347826|                 438|                  68|
|       AS|   60.84090909090909|                 326|                   0|
|       OC|             58.4375|                 254|                   0|
|       EU|  132.55555555555554|                 373|                   0|
|       AF|  16.339622641509433|                 152|                   0|
+---------+--------------------+--------------------+--------------------+