In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit

In [3]:
spark = SparkSession.builder.appName('Day 1').getOrCreate()

25/08/18 15:25:02 WARN Utils: Your hostname, neosoft-Latitude-5420 resolves to a loopback address: 127.0.1.1; using 10.0.61.31 instead (on interface wlp0s20f3)
25/08/18 15:25:02 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/08/18 15:25:03 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
data = [("John", 28), ("Jane", 33), ("Mike", 45)]
cols = ["Name", "Age"]
df = spark.createDataFrame(data, cols)

In [5]:
df.show()

+----+---+
|Name|Age|
+----+---+
|John| 28|
|Jane| 33|
|Mike| 45|
+----+---+

Filter rows where salary > 3000.

In [6]:
data = [(1,'Alice',3000),(2,'Bob',1500),(3,'Carol',4000)]
cols=['id','name','salary']
df = spark.createDataFrame(data,cols)

In [7]:
filter_df = df.filter(df.salary > 3000)
filter_df.show()

+---+-----+------+
| id| name|salary|
+---+-----+------+
|  3|Carol|  4000|
+---+-----+------+

 Add new column with literal

In [8]:
filter_df= filter_df.withColumn("Flags",lit("Y"))
filter_df.show()

+---+-----+------+-----+
| id| name|salary|Flags|
+---+-----+------+-----+
|  3|Carol|  4000|    Y|
+---+-----+------+-----+

Rename column

In [9]:
filter_df = filter_df.withColumnRenamed("Flags","Yes")
filter_df.show()

+---+-----+------+---+
| id| name|salary|Yes|
+---+-----+------+---+
|  3|Carol|  4000|  Y|
+---+-----+------+---+

Drop duplicates

In [10]:
data=[('a',1),('b',2),('a',1)]
cols=['k','v']
df=spark.createDataFrame(data,cols)

In [11]:
df.dropDuplicates().show()

+---+---+
|  k|  v|
+---+---+
|  a|  1|
|  b|  2|
+---+---+

Count rows

In [12]:
df.count()

3

Select distinct values

In [13]:
df.select(col("k")).distinct().show()

+---+
|  k|
+---+
|  a|
|  b|
+---+

Aggregation

In [19]:
data=[('p',10),('q',20),('p',5)]
cols=['item','qty']
df=spark.createDataFrame(data,cols)
df.printSchema()

root
 |-- item: string (nullable = true)
 |-- qty: long (nullable = true)

In [ ]:
from pyspark.sql.functions import sum
(df.groupBy('item').agg(sum('qty').alias('totalQty')).show())

+----+--------+
|item|totalQty|
+----+--------+
|   p|      15|
|   q|      20|
+----+--------+

Convert to pandas

In [22]:
df.toPandas()

  item  qty
0    p   10
1    q   20
2    p    5

Order rows by score descending.

In [23]:
data=[('p',3),('q',1),('r',2)]
cols=['id','score']
df=spark.createDataFrame(data,cols)